<a href="https://colab.research.google.com/github/GauravKumawat33/Regression/blob/master/Multiple_Regression.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import matplotlib.pyplot as plt
import pandas as pd
import pylab as pl
import numpy as np
#
%matplotlib inline

In [2]:
df=pd.read_csv("/content/drive/MyDrive/ML/CAR_DEKHO.csv")

In [3]:
cdf=df[['year','km_driven','selling_price']]
cdf.head(9)

   year  km_driven  selling_price
0  2007      70000          60000
1  2007      50000         135000
2  2012     100000         600000
3  2017      46000         250000
4  2014     141000         450000
5  2007     125000         140000
6  2016      25000         550000
7  2014      60000         240000
8  2015      25000         850000

In [4]:
msk=np.random.rand(len(df))<0.8
train=cdf[msk]
test=cdf[~msk]

In [8]:
from sklearn import linear_model
regr=linear_model.LinearRegression()
x=train[['year','km_driven']]
y=train[['selling_price']]

regr.fit(x,y)
print('Coefficient: ',regr.coef_)
print("Intercept: ",regr.intercept_)
#OLS chooses the parameters of a linear function of a set of explanatory variables by minimizing the sum of the squares of the differences between the target dependent variable and those predicted by the linear function. In other words, it tries to minimizes the sum of squared errors (SSE) or mean squared error (MSE) between the target variable (y) and our predicted output ( ð‘¦Ì‚  ) over all samples in the dataset.

Coefficient:  [[ 5.43771110e+04 -1.61570821e-01]]
Intercept:  [-1.08955095e+08]

OLS can find the best parameters using of the following methods:

Solving the model parameters analytically using closed-form equations
Using an optimization algorithm (Gradient Descent, Stochastic Gradient Descent, Newtonâ€™s Method, etc.)

In [10]:
x=test[['year','km_driven']]
y_hat=regr.predict(x)
y=test[['selling_price']];
print("Residual sum of squares: %.2f" % np.mean((y_hat-y)**2))
print('Variance score: %.2f' % regr.score(x,y))

Residual sum of squares: 334193456382.22
Variance score: 0.17

**Explained variance regression score:**
Let  ð‘¦Ì‚   be the estimated target output, y the corresponding (correct) target output, and Var be the Variance (the square of the standard deviation). Then the explained variance is estimated as follows:

ðšŽðš¡ðš™ðš•ðšŠðš’ðš—ðšŽðšðš…ðšŠðš›ðš’ðšŠðš—ðšŒðšŽ(ð‘¦,ð‘¦Ì‚ )=1âˆ’(ð‘‰ð‘Žð‘Ÿð‘¦âˆ’ð‘¦Ì‚)/ð‘‰ð‘Žð‘Ÿð‘¦ 
The best possible score is 1.0, the lower values are worse.